.item {
  padding: 15px;
}
.image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.text {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .image {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
