.home-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.home-button {
  text-decoration: none;
  display: inline-block;
  padding: 0.4em 1.2em;
  border: 0.1em solid orangered;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: white;
  color: orangered;
  text-align: center;
  transition: all 0.2s;
}

.selected-home-button {
  text-decoration: none;
  display: inline-block;
  padding: 0.4em 1.2em;
  border: 0.1em solid orangered;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: orangered;
  color: white;
  text-align: center;
  transition: all 0.2s;
}
